.user-header {
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    height: 36px;
    font-size: 20px;
    color: #7b7878;
    background: #ffffff;
    padding: 8px 0 2px;
}
.log-out {
    padding: 0 12px;
}
.share {
    padding: 0 12px;
}
.user-page-top {
    position: sticky;
    top: 35.5px;
    background: #ffffff;
    height: 216.5px;
}
.user-contents {
    height: 105px;
    padding: 30px 0 20px;
}
.user-contents>div {
    float: left;
}
.user-contents .portrait {
    width: 65px;
    height: 65px;
    margin: 0 20px 0 10px;
    background: #e2e2e2;
    border-radius: 50%;
    overflow: hidden;
}
.portrait>img {
    width: 100%;
    z-index: 99;
}
.user-contents .username {
    font-weight: 500;
    font-size: 20px;
    color: #2f2f2f;
    line-height: 65px;
}
.user-imfo {
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}
.imfo-list {
    display: inline-flex;
    width: 60%;
    font-size: 13px;
    color: #7b7878;
    text-align: center;
    justify-content: space-between;
    padding-right: 30px;
}
.imfo-num {
    font-weight: 500;
    font-size: 16px;
}
#edit-imfo,
#send-message {
    display: inline-block;
    height: 26px;
    padding: 2px 8px;
    margin-right: 40px;
    border: 1px solid #7e7e7e;
    border-radius: 3px;
    font-size: 13px;
    color: #7e7e7e;
}
.user-page .nav-list,
#user-page-o .nav-list {
    width: 100%;
    height: 38px;
    background: #ffffff;
    overflow: hidden;
}
.user-page .nav-list ul,
#user-page-o .nav-list ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 40px;
}
.nav-list ul li {
    float: left;
    position: relative;
    height: 32px;
    margin: 8px 18px;
}

#user-page-o {
    width: 100%;
    z-index: 9999;
    background: #fff;
}

